@model Booking.Models.Bookings

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FK_UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cars.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cars.CarModel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
